@model IEnumerable<ERAS.Models.EBOKTranformedData.EBOKGasProductionSummary>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IndicatorDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwoPhaseSeperator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestSeperator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductionSeperator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LPVessels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WFBAllocatedgas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WFBProcessUptime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WFBFlaringUptime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WFBContribution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WFBPROCESSTOTAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WFBGasLift)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CFBGasLift)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTALGasLift)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeneratorFuel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelGasKOD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GTCompressorconsumption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalcuatedInjectedGas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeteredGasInjected)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GASUtilizationTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HPFLARE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LPFLARE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WFBGasFlared)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMeteredGasFlared)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GASFLAREDTOTAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayOftheWeek)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IndicatorDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TwoPhaseSeperator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestSeperator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductionSeperator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LPVessels)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WFBAllocatedgas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WFBProcessUptime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WFBFlaringUptime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WFBContribution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WFBPROCESSTOTAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WFBGasLift)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CFBGasLift)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTALGasLift)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GeneratorFuel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelGasKOD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GTCompressorconsumption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CalcuatedInjectedGas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeteredGasInjected)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GASUtilizationTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HPFLARE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LPFLARE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WFBGasFlared)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalMeteredGasFlared)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GASFLAREDTOTAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UploadTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayOftheWeek)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
