@model ERAS.Models.EBOKOutputData.EBOKInjectivityIndex

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EBOKInjectivityIndex</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Well)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Well)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndicatorDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndicatorDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INJRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INJRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScaledupRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScaledupRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InjectivityIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InjectivityIndex)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
