@model IEnumerable<ERAS.Models.EBOKOutputData.EBOKInjectivityIndex>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Well)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IndicatorDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INJRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScaledupRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InjectivityIndex)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Well)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IndicatorDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INJRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.THIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.THSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScaledupRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InjectivityIndex)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
