@model ERAS.Models.EBOKOutputData.GasTrend

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GasTrend</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IndicatorDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndicatorDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WFBPROCESSTOTAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WFBPROCESSTOTAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOTALGasLift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTALGasLift)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalcuatedInjectedGas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalcuatedInjectedGas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeteredGasInjected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeteredGasInjected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GASUtilizationTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GASUtilizationTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GASFLAREDTOTAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GASFLAREDTOTAL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
