@model IEnumerable<ERAS.Models.EBOKOutputData.GasTrend>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IndicatorDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WFBPROCESSTOTAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTALGasLift)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalcuatedInjectedGas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeteredGasInjected)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GASUtilizationTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GASFLAREDTOTAL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IndicatorDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WFBPROCESSTOTAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTALGasLift)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CalcuatedInjectedGas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeteredGasInjected)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GASUtilizationTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GASFLAREDTOTAL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
