@model ERAS.Models.EBOKOutputData.BackAllocationQlest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BackAllocationQlest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IndicatorDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndicatorDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Well)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Well)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qlest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qlest)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
